server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/ProjectKEK
    username: admin
    password: '****'

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    open-in-view: false